
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Submission Form', new_book_path %>
      </li>
      <li>
        <%= link_to 'Mypage', user_path(current_user.id) %>
      </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
